#resultswrapper {
    margin-bottom: 50px;
}

#holidays {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 900px;
    margin: 0 auto;
}

.holiday {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    overflow: hidden;
}

.imgContainer {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.imgContainer > img {
    width: 100%;
    height: 100%;
}
.holidayDetails {
    padding: 10px;
    line-height: 1.4;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 15px;
    background: linear-gradient(120deg, #0aa3ff, #6cc6ff);
}

#hotels-header{
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    background: linear-gradient(120deg, #0aa3ff, #93d1f7);
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 50px;
}



#hotels-header > h1 {
    font-size: 4rem;
}

#selection-bar {
    position: static;
    left: 50%;
    transform: translateX(0);
    /* z-index: 2; */
    top: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#filter {
    box-shadow: none;
    background-color: #fff;
    position: static;
    display: flex;
    gap: 50px;
    border-radius: 10px;
    padding-left: 50px;
}

#filter > button {
    height: 100%;
    width: fit-content;
    padding: 20px 50px;
    border: none;
    background: linear-gradient(-120deg, #0aa3ff, #93d1f7);
    border-radius: 10px;
    color: white;
}

#filter > select {
    flex: 1;
    border: none;
    color: #b4b4b4;
}
